.page {
    /* min-height: 100%; */
}

.logo {
}

.logo:focus .logo__symbol {
}

.logo__symbol {
    display: block;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 2em;
    display: flex;
    justify-content: center;
}

.nav {
    --border-radius: 0.625em;
    --gap: 0.25em;
    display: flex;
    justify-content: center;
    gap: var(--gap);
    text-align: center;
}

.nav__item {
    position: relative;
}

.nav__button {
    appearance: none;
    min-width: 8em;
    padding: 8px 20px;
    text-decoration: none;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    color: var(--darkblue);
    border: none;
    border-radius: var(--border-radius);
    background: none;
    transition: background-color 75ms ease-in;
}

.nav__button:hover {
    background-color: var(--white);
}

.nav__button:focus {
    outline: none;
    background-color: var(--white);
}

.nav__button:focus-visible {
    /* outline: 2px solid red; */
}

.nav__button[aria-expanded="true"] {
    background-color: var(--white);
}

.nav__panel {
    min-width: 8em;
    position: absolute;
    border-radius: var(--border-radius);
    background-color: var(--white);
}

.nav__list {
    display: flex;
    flex-direction: column;
}

.nav__link {
    padding: 8px 24px;
    text-decoration: none;
    color: var(--darkblue);
}

.nav__link:focus-visible {
    text-decoration: underline;
}

.nav__link:focus,
.nav__link:hover {
    font-weight: bold;
    background-color: var(--beige);
}

.nav__link:focus-visible {
    text-decoration: underline;
}

.nav__link:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.nav__link:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.panel__enter {
    transition: all 75ms ease-in;
}

.panel__enterfrom {
    transform: translateY(0);
    opacity: 0;
}

.panel__enterto {
    transform: translateY(4px);
    opacity: 100;
}

.panel__leave {
    transition: all 75ms ease-out;
}

.panel__leavefrom {
    opacity: 100;
}

.panel__leaveto {
    opacity: 0;
}

.main {
    max-width: 80ch;
    margin: 0 auto;
    padding: 1em;
    padding-block-end: 100px;
}
