.page {
    /* min-height: 100%; */
}

.logo {
}

.logo:focus .logo__symbol {
}

.logo__symbol {
    display: block;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 2em;
    display: flex;
    justify-content: center;
}

.active {
    border: 10px solid lime;
}

.nav {
    --border-radius: 0.625em;
    --gap: 0.25em;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: var(--gap);
}

.nav__item {
    position: relative;
}

.nav__button {
    min-width: 8em;
    appearance: none;
    padding: 8px 20px;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    line-height: 1;
    color: var(--darkblue);
    background: none;
    border: none;
    /* border: 1px solid red; */
}

.nav__button[aria-expanded="true"] {
    /* color: blue; */
    background-color: var(--white);
}

.nav__link {
    color: var(--darkblue);
    text-decoration: none;
}

.nav__link:focus-visible {
    text-decoration: underline;
}

.nav__panel {
    position: absolute;
    min-width: 8em;
    /* outline: 1px solid red; */
    /* padding: 1em; */
    background-color: var(--white);
    border-radius: var(--border-radius);
}

.panel__enter {
    transition: all 75ms ease-in;
}

.panel__enterfrom {
    transform: translateY(0);
    opacity: 0;
}

.panel__enterto {
    transform: translateY(4px);
    opacity: 100;
}

.panel__leave {
    transition: all 75ms ease-out;
}

.panel__leavefrom {
    opacity: 100;
}

.panel__leaveto {
    opacity: 0;
}

.nav__list {
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
}

.nav__link:hover,
.nav__link:focus {
    /* background: hsla(0, 0%, 100%, 0.8); */
}

.nav__link:focus-visible {
    text-decoration: underline;
}

.nav__link {
    --block-space: 1em;
    padding: 8px 24px;
    /* outline: 1px solid red; */
}

.nav__link:focus,
.nav__link:hover {
    font-weight: bold;
    background-color: var(--beige);
}

.nav__link:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.nav__link:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.main {
    max-width: 80ch;
    margin: 0 auto;
    padding: 1em;
}
