.logo {
    outline: none;
    transition: transform var(--duration) ease-in;
}

.logo:focus {
    transform: scale(1.1);
}

.logo__symbol {
    display: block;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 2em;
    display: flex;
    justify-content: center;
}

.nav {
    --width: 8em;
    --radius: 0.625em;
    --gap: 0.25em;
    display: flex;
    justify-content: center;
    gap: var(--gap);
    text-align: center;
}

.nav__item {
    position: relative;
}

.nav__button {
    appearance: none;
    min-width: var(--width);
    min-height: 2.1875em;
    padding-block: 0.5em;
    padding-inline: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    color: var(--darkblue);
    border: none;
    border-radius: var(--radius);
    background: none;
    transition: background-color var(--duration) ease-in;
}

.nav__button:hover,
.nav__button:focus,
.nav__button[aria-expanded="true"] {
    outline: none;
    background-color: var(--white);
}

.nav__panel {
    min-width: var(--width);
    position: absolute;
    border-radius: var(--radius);
}

.nav__list {
    display: flex;
    flex-direction: column;
}

.nav__link {
    padding-block: 0.25em;
    padding-inline: 1.5em;
    text-decoration: none;
    font-size: 0.875em;
    color: var(--darkblue);
    background-color: var(--white);
}

.nav__link:focus,
.nav__link:hover {
    font-weight: bold;
    outline: none;
    background-color: var(--beige);
}

.nav__link:first-child {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.nav__link:last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.panel__enter {
    transition: all var(--duration) ease-in;
}

.panel__enterfrom {
    transform: translateY(0);
    opacity: 0;
}

.panel__enterto {
    transform: translateY(4px);
    opacity: 100;
}

.panel__leave {
    transition: all var(--duration) ease-out;
}

.panel__leavefrom {
    opacity: 100;
}

.panel__leaveto {
    opacity: 0;
}

.main {
    max-width: 80ch;
    margin: 0 auto;
    padding: 1em;
    padding-block-end: 6.25em;
}
